@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{

    html{
        @apply scroll-smooth;
    }

    body{
        @apply bg-primaryColor text-white tracking-wider font-dmSans dark:bg-darkColor;
    }

    section{
        @apply pt-16 pb-4 px-3 md:pt-20;
    }

     #theme-toggle {
    @apply transition-transform duration-300 ease-in-out opacity-100;
  }

  #theme-toggle.rotate {
    animation: rotate-360 0.5s ease-in-out;
    @apply opacity-5; /* Optional for a smooth fade effect */
  }

}

@layer components{
    .btn{
        @apply inline-block text-sm py-3 px-8 capitalize text-center cursor-pointer rounded-md ease-linear duration-200;
    }

    .btn-primary{
        @apply text-black bg-secondaryColor hover:opacity-60 font-bold;
    }
}

@layer utilities{
    @keyframes rotate-360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

    .home__title,.card__title,.section__title{
        @apply text-4xl font-oswald font-bold uppercase lg:text-6xl;
    }

    .section__title{
        @apply text-3xl;
    }

    .card__title{
        @apply text-xl;
    }

    .separator{
        @apply w-28 h-[2px] bg-secondaryColor my-5;
    }

    .paragraph{
        @apply text-paragraphColor text-xs leading-6;
    }
}

.tabs_wrap ul li:hover,.tabs_wrap ul li.active{
 @apply bg-secondaryColor text-black
}